.rcp-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.InputfieldRockColorPicker input {
  display: none;
}
div.rcp-color {
  outline: 1px solid #afafaf;
  cursor: pointer;
}
.rcp-color.selected {
  outline: 5px solid #afafaf;
}
/* set the size of the inner element */
.rcp-color > * {
  width: 40px;
  height: 40px;
}
/* make text content centered by default */
.rcp-color > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
